/* styles for use everywhere */
* {
	margin: 0;
	padding: 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.whiteText {
  color: white;
}

.bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

/**TEMPORARY STYLE **/
.tempDropTop {
	margin-top: 300px;
}


/* Nav bar styles*/
.navbar {
    background-color: transparent;
    background: transparent;
    border-width: 0px;
}

.mbLogoSm {
	height: 30px;
	width: 40px;
}

/* create space for text from top of walls */

.dropTopLrg {
	margin-top: 50px;
}

/* /app/homeWall styles */
.homeStructure {
  position: relative;
	height: 720px;
	width: 100%;
	z-index: 1;
}

.homeBackground {
	background: url('./../src/assets/mblogo.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/* Logo Wall Attributes */
.logoStructure {
  position: relative;
	height: 720px;
	width: 100%;
	z-index: 1;
}

.logoBackground {
	background: url('./../src/assets/mblogo.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/* Gilson Wall Attributes */

.gilsonStructure {
  position: relative;
	height: 800px;
	width: 100%;
	z-index: 1;
}

.gilsonBackground {
  background: url('./../src/assets/wallAssets/gilsonStage.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

.gilsonText {
  color: white;
  font-size: 30px;
}



/* Chutte Wall Attributes */

.chutteStructure {
  position: relative;
	height: 800px;
	width: 100%;
	z-index: 1;
}

.chutteBackground {
	background: url('./../src/assets/wallAssets/chuttelogo.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

.chutteText {
  color: black;
  font-size: 30px;
}

/* Social Flix Wall Attributes */

.socialStructure {
  position: relative;
	height: 800px;
	width: 100%;
	z-index: 1;
}

.socialBackground {
  background: url('./../src/assets/wallAssets/socialflixss.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/* Tinnr++ Wall Attributes */

.tinnrStructure {
  position: relative;
	height: 800px;
	width: 100%;
	z-index: 1;
}

.tinnrBackground {
	background: url('./../src/assets/wallAssets/tinnrss.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/* McTesting.js Wall Attributes */

.mcTestingStructure {
  position: relative;
	height: 800px;
	width: 100%;
	z-index: 1;
}

.mcTestingBackground {
	background: url('./../src/assets/npmmcTesting.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/* Twitter style */
.centerTwit {
  width: 80%;
  margin: auto;
}
