.center {
  text-align: center;
}

.wallImage {
	height: 500px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
}

.wallBackground {
	background: url('./../src/assets/mblogo.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

.iframeCenter {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: #777;
}
