.center {
  text-align: center;
}

.buffer {
	height: 20px;
	width: 100%;
	background-color: black;
	z-index: 1;
}

.logoStructure {
	height: 620px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
}

.logoStructureSmall {
	height: 310px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
}

.logoBackground {
	background: url('./../src/assets/mblogo.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

.gilsonStructure {
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
}

.gilsonBackground {
	background-color: brown;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left;
  background-size: contain;
}

.chutteStructure {
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
}

.chutteBackground {
	background-color: green;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left;
  background-size: contain;
}

.socialStructure {
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
}

.socialBackground {
	background-color: red;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left;
  background-size: contain;
}

.tinnrStructure {
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
}

.tinnrBackground {
	background-color: blue;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left;
  background-size: contain;
}

.mcTestingStructure {
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
}

.mcTestingBackground {
	background: url('./../src/assets/mctestingjs.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}
/*not currently used

.iframeCenter {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: #777;
}
*/
.centerTwit {
  width: 80%;
  margin: auto;
}
