* {
	margin: 0;
	padding: 0;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.whiteText {
  color: white;
}

/* Logo Wall Attributes */
.logoStructure {
  position: static;
	height: 620px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

.logoBackground {
	background: url('./../src/assets/mblogo.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/* Gilson Wall Attributes */

.gilsonStructure {
  position: static;
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

.gilsonBackground {
  background: url('./../src/assets/wallAssets/gilsonStage.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

.gilsonText {
  color: white;
  font-size: 30px;
}



/* Chutte Wall Attributes */

.chutteStructure {
  position: static;
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

.chutteBackground {
	background: url('./../src/assets/wallAssets/chuttelogo.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

.chutteText {
  color: black;
  font-size: 30px;
}

/* Social Flix Wall Attributes */

.socialStructure {
  position: static;
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

.socialBackground {
  background: url('./../src/assets/wallAssets/socialflixss.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/* Tinnr++ Wall Attributes */

.tinnrStructure {
  position: static;
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

.tinnrBackground {
	background: url('./../src/assets/wallAssets/tinnrss.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}

/* McTesting.js Wall Attributes */

.mcTestingStructure {
  position: static;
	height: 800px;
	width: 100%;
	background: #bbbbbb;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

.mcTestingBackground {
	background: url('./../src/assets/npmmcTesting.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
}
/*not currently used

.iframeCenter {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: #777;
}
*/
.centerTwit {
  width: 80%;
  margin: auto;
}
